/*--------------------------------------------------*\
    Basic settings
\*--------------------------------------------------*/

* {box-sizing:               border-box;}

html { font-size: 14px;}

h2, h3, h6,
p {
  margin: 0px;
}

h2, h3, h6,
p {
  margin-bottom: 1.071rem;
  }

a {
  text-decoration: none;
  cursor: pointer;
}


/*--------------------------------------------------*\
    Basic colors
\*--------------------------------------------------*/


:root {
  --bodycolor:              #F4F3F5;
  --main-bgcolor:           #6200EA;
  --contant-bgcolor:        #FFFFFF;
  --main-textcolor:         #211138;
  --side-textcolor:         #B2ACBA;
}       


/*--------------------------------------------------*\
    Basic tipographia
\*--------------------------------------------------*/


body {
  font-family:      'Montserrat', sans-serif;
  color:            var(--main-textcolor);
  background-color: #f4f3f5;
}

h2 { font-size: 2.857rem; }

h6,
a {
  font-size:      .857rem;
  font-weight:    bold;
  text-transform: uppercase;
  letter-spacing: .171rem;
}

